---
import H1 from "../components/H1.astro";
---

<div
  class="shadow-mine1 flex flex-col mx-auto max-w-2xl mt-24 p-8 bg-slate-200">
  <h2
    class="font-mono font-bold text-gray-700 bg-gray-400 rounded-md block mb-4 pl-4">
    .mine1
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolores
    qui rerum iste architecto consequatur earum odio eum, quo corporis
    blanditiis sapiente quas sequi fuga ipsa in impedit repellat, illo veniam
    totam. Provident excepturi officia reiciendis cumque similique laborum in
    quam. Temporibus inventore tenetur vitae deserunt explicabo quasi quos
    perspiciatis. Asperiores accusamus reprehenderit voluptate magnam!
  </p>
</div>
<div
  class="shadow-mine2 flex flex-col mx-auto max-w-3xl mt-24 p-8 bg-slate-200">
  <h2
    class="font-mono font-bold text-gray-700 bg-gray-400 rounded-md block mb-4 pl-4">
    .mine2
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolores
    qui rerum iste architecto consequatur earum odio eum, quo corporis
    blanditiis sapiente quas sequi fuga ipsa in impedit repellat, illo veniam
    totam. Provident excepturi officia reiciendis cumque similique laborum in
    quam. Temporibus inventore tenetur vitae deserunt explicabo quasi quos
    perspiciatis. Asperiores accusamus reprehenderit voluptate magnam!
  </p>
</div>
