---
type Props = {
  prevURL?: string;
  nextURL?: string;
};

const { prevURL, nextURL } = Astro.props;
---

<div class="flex justify-between">
  {
    prevURL ? (
      <a
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
        href={prevURL}>
        Previous
      </a>
    ) : (
      <div />
    )
  }

  {
    nextURL ? (
      <a
        class="bg-teal-900 text-white py-3 px-6 rounded-xl text-xl"
        href={nextURL}>
        Next
      </a>
    ) : (
      <div />
    )
  }
</div>
